.wrapper
  = render "more/header"
  .d-main
    .d-main__box
      .d-main__box__text
        .d-main__box__text--title
          投稿を削除しました
        .d-main__box__text--return
          = link_to root_path do
            トップページに戻る