.footer
  .footer__log
    .footer__log__top
      = link_to root_path do
        .footer__log__top__box
          .footer__log__top__box__icon
            %i.fa.fa-plane
          .footer__log__top__box__text
            Sightseeing
    .footer__log__bottom
      ©️2020 Sightseeing
