.footer
  .footer__form
    .post
      .post__title
        おすすめスポットを投稿
      .post__icon
        %i.fa.fa-hand-point-right
    = link_to new_spot_path,class: 'pen-icon' do
      .icon-box
        %i.fa.fa-pencil-alt