.header
  .header__title
    = link_to root_path do
      .header__title--icon
        %i.fa.fa-plane
      .header__title--name
        Sightseeing
  .header__text
    観光スポット探しアプリ
  .header__mypage
    = link_to "マイページ", user_path(current_user.id)
