.signin{
  height: calc(100vh - 247px);
  min-height: 574px;
  background-color: #f7f7f7;
  display: table;
  &__main{
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    &__center{
      width: 380px;
      margin: 0 auto;
      padding: 32px;
      border-radius: 16px;
      background: #ffffff;
      box-shadow: 0 0 4px #eae6dc;
      &__title{
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: bold;
      }
      &__box{
        .form-item{
          margin-bottom: 24px;
          &__title{
            font-weight: 500;
            &__form{
              width: 100%;
              padding: 12px;
              margin-top: 8px;
              border: 1px solid #eae6dc;
              border-radius: 8px;
              transition: .3s all;
            }
          }
        }
        .submit-btn{
          input{
            display: block;
            width: 140px;
            padding: 12px 0;
            margin: 0 auto;
            color: #ffffff;
            text-align: center;
            border: none;
            border-radius: 6px;
            background: #0000FF;
            cursor: pointer;
          }
          input:hover{
            box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
            transform: translateY(-3px);
            transition: 0.3s;
          }
        }
      }
      .sign-up{
        margin-top: 30px;
        text-align: center;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}