.footer{
  width: 100%;
  height: 160px;
  background-color: #BBFFFF;
  display: table-cell;
  vertical-align: middle;
  &__log{
    width: 100vw;
    text-align: center;
    &__top{
      a{
        color: gray;
        text-decoration: none;
        display: inline-block;
        }
        a:hover{
          opacity: 0.7;
        }
      &__box{
        display: flex;
        justify-content: center;
        font-size: 30px;
      }
    }
    &__bottom{
      color: gray;
    }
  }
}