.header{
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #BBFFFF;
  &__top{
    background: #BBFFFF;
    &--title{
      margin: 0 auto;
      width: 65%;
      padding: 6px 0;
      font-size: 12px;
    }
  }
  &__title{
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 56px;
    &__box{
      width: 65%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__right{
        a{
          color: black;
          text-decoration: none;
          display: inline-block;
          position: relative;
        }
        a::after {
          position: absolute;
          bottom: -4px;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          background: black;
          transform: scale(0, 1);
          transform-origin: center top;
          transition: transform .3s;
        }
        a:hover::after {
          transform: scale(1, 1);
        }
        &__logo{
          display: flex;
          font-size: 24px;
        }
      }
      &__left{
        display: flex;
        &__search{
          font-size: 24px;
          margin-right: 32px;
          a{
            color: black;
          }
        }
        &__mypage{
          font-size: 24px;
          margin-right: 32px;
          a{
            color: black;
          }
        }
        &__post{
          transition: all 0.3s ease 0s;
          margin-right: 10px;
          a{
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: #3CCACE;
          }
          a:hover{
            color: white;
          }
          &__name{
            font-size: 14px;
            border: 1px solid #3CCACE;
            border-radius: 4px;
            padding: 8px 15px 5px;
          }
        }
        &__post:hover{
          background-color: #3CCACE;
          border-radius: 4px;
        }
      }
    }
  }
}