.likes{
  display: flex;
  justify-content: flex-end;
  &__box{
    width: 150px;
    border: 1px solid #3CCACE;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 20px 20px 20px 0 ;
    .heart{
      text-decoration: none;
      color: #3CCACE;
    }
  }
}