.mp-main{
  min-height: calc(100vh - 247px);
  background-color: #f7f7f7;
  &__user{
    text-align: center;
    padding-top: 50px;
    &__logo{
      height: 80px;
      width: 80px;
      margin: 0 auto;
      background-color: gray;
      border-radius: 50%;
      &__icon{
        margin-top: 12px;
      }
    }
    &__name{
      font-size: 20px;
      margin-top: 8px;
    }
  }
  &__container{
    width: 600px;
    margin: 0 auto;
    padding: 40px 0;
    &__icons{
      display: flex;
      .menu-item{
        font-size: 24px;
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #eae6dc;
        padding-bottom: 10px;
        cursor: pointer;
      }
      .active{
        color: #8c2a2a;
        border-bottom: 2px solid #8c2a2a;
      }
    }
    .mp-contents{
      margin-top: 30px;
      max-height: 675px;
      overflow-y: scroll;
      .content{
        display: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .spot-box{
          margin-bottom: 15px;
          border-radius: 12px;
          box-shadow: 0 0 4px #eae6dc;
          &__img{
            border-radius: 12px 12px 0 0;
          }
          &__text{
            background-color: white;
            margin-top: -6px;
            padding: 12px;
            border-radius: 0 0 12px 12px;
            &__box{
              display: flex;
              justify-content: space-between;
              &__area{
                font-size: 15px;
                font-weight: bold;
              }
              &__icon{
                display: flex;
                margin-right: 10px;
                .likes{
                  .iine{
                    color: red;
                  }
                }
                .likes-count{
                  margin-left: 3px;
                }
              }
            }
            &__name{
              margin: 12px 0;
              font-size: 15px;
              word-wrap: break-word;
            }
          }
          a{
            text-decoration: none;
            color: black;
          }
        }
        .spot-box:hover{
          opacity: 0.7;
        }
      }
      .hidden{
        display: none;
      }
    }
  }
}

.mp-contents::-webkit-scrollbar{
  width: 10px;
  }
  .mp-contents::-webkit-scrollbar-track{
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; 
  }
  .mp-contents::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px #fff;
  }