.n-main{
  background-color: #f7f7f7;
  .form-contents{
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    .form-box{
      padding: 32px;
      border-radius: 16px;
      background: #ffffff;
      box-shadow: 0 0 4px #eae6dc;
      &__title{
        font-size: 22px;
        font-weight: 600;
        .error{
          .spot__errors{
            padding-top: 20px;
            color: #8c2a2a;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
      .img-field{
        padding-top: 30px;
        display: flex;
        .img-title{
          font-size: 18px;
          font-weight: bold;
        }
      }
      .img-box{
        padding: 20px;
      }
      &__prefecture{
        margin-top: 20px;
        &__box{
          display: flex;
          &--title{
            font-size: 18px;
            font-weight: bold;
          }
        }
        .select-box{
          padding-top: 10px;
          select{
            width: 40%;
            font-size: 20px;
            height: 30px;
          }
        }
      }
      &__name{
        margin-top: 40px;
        &--box{
          display: flex;
          .name-title{
            font-size: 18px;
            font-weight: bold;
          }
        }
        &--form{
          padding-top: 10px;
        }
      }
      &__place{
        margin-top: 40px;
        &--box{
          display: flex;
          .place-title{
            font-size: 18px;
            font-weight: bold
          }
        }
        &--form{
          padding-top: 10px;
        }
      }
      &__text{
        margin-top: 40px;
        &--box{
          display: flex;
          .text-title{
            font-size: 18px;
            font-weight: bold;
          }
        }
        &--form{
          padding-top: 10px;
          .form-text{
            width: 100%;
            padding: 12px;
            border: 1px solid #eae6dc;
            border-radius: 8px;
            transition: .3s all;
          }
        }
      }
      &__station{
        margin-top: 40px;
        &__box{
          display: flex;
          &--title{
            font-size: 18px;
            font-weight: bold;
          }
        }
        &--form{
          padding-top: 10px;
          text-align: center;
        }
      }
      .form-btn{
        width:200px;
        height:50px;
        background-color: #3CCACE;
        margin: auto;
        margin-top: 24px;
        border-radius: 5px;
        color: #ffffff;
        line-height: 50px;
        font-weight:bolder;
        display: block;
        cursor: pointer;
      }
      .form-btn:hover{
        box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
        transform: translateY(-3px);
        transition: 0.3s;
      }
    }
  }
}
.need{
background-color: #0000FF;
color: white;
display: inline-block;
padding: 1px 5px;
margin-left: 4px;
color: #ffffff;
font-size: 12px;
line-height: 24px;
border-radius: 4px;
}
.no-need{
  background-color: #3CCACE;
  color: white;
  display: inline-block;
  padding: 1px 5px;
  margin-left: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  border-radius: 4px;
}

.form{
  width: 100%;
  padding: 12px;
  border: 1px solid #eae6dc;
  border-radius: 8px;
  transition: .3s all;
}
