.p-main{
  min-height: calc(100vh - 247px);
  background-color: #f7f7f7;
  padding: 60px 0 80px;
  &__contents{
    width: 70%;
    margin: 0 auto;
    &__title{
      display: flex;
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: bold;
    }
    &__box{
      display: flex;
      flex-wrap: wrap;
      .p-spot-box{
        margin: 0 16px 20px;
        border-radius: 12px;
        box-shadow: 0 0 4px #eae6dc;
        &__img{
          border-radius: 12px 12px 0 0;
        }
        &__text{
          background-color: white;
          margin-top: -6px;
          padding: 12px;
          border-radius: 0 0 12px 12px;
          &--name{
            height: 40px;
            margin-bottom: 12px;
            font-size: 15px;
            font-weight: bold;
          }
          &__box{
            display: flex;
            justify-content: space-between;
            &--place{
              font-size: 15px;
            }
            &--icon{
              display: flex;
              margin-right: 10px;
              &__comment{
                display: flex;
                margin-right: 5px;
                .comment{
                  color: #5f6367;
                }
                .comment-count{
                  margin-left: 3px;
                }
              }
              &__like{
                display: flex;
                .like{
                  .iine{
                    color: red;
                  }
                }
                .like-count{
                  margin-left: 3px;
                }
              }
            }
          }
        }
        a{
          text-decoration: none;
          color: black;
        }
      }
      .p-spot-box:hover{
        opacity: 0.7;
      }
    }
    &--page{
      text-align: center;
      a{
        text-decoration: none;
        color: black;
      }
      a:hover{
        color: #3CCACE;
        text-decoration: underline;
      }
    }
  }
}