*{
  box-sizing: border-box;
}
.wrapper{
  height: 100%;
  width: 100%;
  .main{
    background-color: #f7f7f7;
    padding-bottom: 40px;
    &__top{
      display: table-cell;
      vertical-align: middle;
      height: 500px;
      width: 100vw;
      position: relative;
      &__title{
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        &__box{
          display: flex;
          justify-content: center;
          font-size: 60px;
        }
        &__text{
          text-align: center;
        }
      }
    }
    .main-box{
      padding-top: 40px;
      .area{    
        padding: 32px;
        border-radius: 16px;
        background: #ffffff;
        box-shadow: 0 0 4px #eae6dc;
        background-color: white;
        width: 70%;
        margin: 0 auto;
        &__title{
          display: flex;
          margin-bottom: 20px;
          font-size: 22px;
          font-weight: bold;
          &__icon{
            margin-right: 5px;
          }
        }
        &__place{
          &__box{
            display: flex;
            justify-content: space-between;
            &__left{
              width: 48%;   
              .area-group{
                border: 1px solid #3CCACE;
                border-radius: 30px;
                margin-bottom: 50px;
              }
              .area-title{
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                margin: 20px 0;
              }
              .area-list{
                display: flex;
                justify-content: center;
                li{
                  transition: all 0.3s ease 0s;
                  border-radius: 5px;
                  padding: 2px;
                  margin-right: 8px;
                  margin-bottom: 50px;
                  a{
                    transition: all 0.3s ease 0s;
                    text-decoration: none;
                    color: #696969;
                  }
                  a:hover{
                    color: white;
                  }
                }
                li:hover{
                  background-color: #0000FF;
                }
              }
            }
            &__right{
              width: 48%;   
              .area-group{
                border: 1px solid #3CCACE;
                border-radius: 30px;
                margin-bottom: 50px;
              }
              .area-title{
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                margin: 20px 0;
              }
              .area-list{
                display: flex;
                justify-content: center;
                li{
                  transition: all 0.3s ease 0s;
                  border-radius: 5px;
                  padding: 2px;
                  margin-right: 8px;
                  margin-bottom: 50px;
                  a{
                    transition: all 0.3s ease 0s;
                    text-decoration: none;
                    color: #696969;
                  }
                  a:hover{
                    color: white;
                  }
                }
                li:hover{
                  background-color: #0000FF;
                }
              }
            }
          }
        }
      }
      &__news{
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
        &__title{
          display: flex;
          background-color: #BBFFFF;
          border-radius: 4px;
          &__1{
            padding: 12px 24px;
            border-radius: 4px 0 0 4px;
            color: black;
            background-color: #00FFFF;
          }
          &__2{
            padding: 12px 24px;
          }
        }
      }
      &__new{
        width: 70%;
        margin: 0 auto;
        &__title{
          display: flex;
          font-size: 24px;
          margin: 40px 0 12px ;
          a{
            text-decoration: none;
            color: black;
          }
          &__tag{
            color: #3CCACE;
          }
        }
        .new-contents{
          &__box{
            display: flex;
            .spot-box{
              margin-right: 42px;
              border-radius: 12px;
              box-shadow: 0 0 4px #eae6dc;
              &__img{
                border-radius: 12px 12px 0 0;
              }
              &__text{
                background-color: white;
                margin-top: -6px;
                padding: 12px;
                border-radius: 0 0 12px 12px;
                &--name{
                  height: 40px;
                  width: 196px;
                  margin-bottom: 12px;
                  font-size: 15px;
                  font-weight: bold;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-family: Arial;
                }
                &__box{
                  display: flex;
                  justify-content: space-between;
                  &--area{
                    font-size: 15px;
                  }
                  &--icon{
                    display: flex;
                    margin-right: 10px;
                    &__comment{
                      display: flex;
                      margin-right: 5px;
                      .comment{
                        color: #5f6367;
                      }
                      .comment-count{
                        margin-left: 3px;
                      }
                    }
                    &__like{
                      display: flex;
                      .like{
                        .iine{
                          color: red;
                        }
                      }
                      .like-count{
                        margin-left: 3px;
                      }
                    }
                  }
                }
              }
              a{
                text-decoration: none;
                color: black;
              }
            }
            .spot-box:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
